<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="OR SAF acceptance" android:allowBackup="false">
        <provider android:name=".FixtureDocumentsProvider"
            android:authorities="dev.opencut.saffixture.documents"
            android:exported="true" android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter><action android:name="android.content.action.DOCUMENTS_PROVIDER" /></intent-filter>
        </provider>
        <activity android:name=".ControlActivity" android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
